.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(305px, 1fr));
    grid-gap: 15px;
}
.container > .card img {
    max-width: 100%;
}
body{

    background: #d1d5db;
}

.height{

    height: 100px;
}

.form{

    position: relative;
}

.form .fa-search{

    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;

}

.form span{

        position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}

.left-pan{
    padding-left: 7px;
}

.left-pan i{
   
   padding-left: 10px;
}

.form-input{

    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{

    box-shadow: none;
    border:none;
}
.card-body {
    text-align: center;
    border-top: 1px solid #ddd;
}

button {
    background: none;
    border: 2px solid #3cb471;
    border-radius: 20px;
    padding: 5px 20px;
    color: #3cb471;
}

button:hover {
    border: 2px solid #3cb471;
    background: #3cb471;
    color: #fff;
}